.tour-step::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 20px;
    width: 50px;
    height: 30px;
    background: #cf6b31;
    border: 3px solid #0c7d36;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 0;
    z-index: -1; /* Set z-index to position behind content */
}

.shepherd-content {
    padding: 3; /* Adjust padding if needed */
    background-color: #cde5c9;
    position: relative; /* Ensure proper stacking context */
    z-index: 1; /* Ensure content is above the pseudo-element */
}

.tour-step {
    position: relative;
    padding: 20px;
    background-color: #b2cfed;
    border: 5px solid #0c7d36;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust the max-width as needed */
}

/* Increase specificity */
body .shepherd-modal-overlay {
    border-color: 5px solid #0c7d36 !important;
}
